body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p, ul, div, h2{
  margin: 0;
  padding: 0;
  list-style: none;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 100px;
  background-color: #e7ecf2;
}

.statistics{
  display: flex;
  flex-direction: column;
}

.stat-list{
  display: flex;
  justify-content: center;
  align-items: center;
}

.item{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  width: 100px;
  height: 100px;
  color: #fff;
}

.item:nth-child(1){
  background: #4fc4f9;
}

.item:nth-child(2){
  background: #a43cf3;
}

.item:nth-child(3){
  background: #e64c66;
}

.item:nth-child(4){
  background: #1fb9c5;
}

.item:nth-child(5){
  background: #4fc4f9;
}

.title{
  display: inline-flex;
  background: #fff;
  color: #5b636a;
  height: 100px;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  font-weight: bold;
  font-size: 20px;
}

.friend-list{
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.friend-item{
  display: flex;
  align-items: center;
  gap: 20px;
  background: #fff;
  padding: 15px;
}

.status{
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.status.green{
  background: #46b14a;
}

.status.red{
  background: #ff5053;
}